In [11]:
import pandas as pd
import numpy as np

In [12]:
df1 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/1.csv")
df2 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/2.csv")
df3 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/3.csv")
df4 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/4.csv")
df5 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/5.csv")
df6 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/6.csv")
df7 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/7.csv")
df8 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/8.csv")
df9 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/9.csv")
df10 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/10.csv")
df11 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/11.csv")
df12 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/12.csv")

In [13]:
# Crea una lista con los DataFrames que deseas concatenar
dataframes_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

# Concatena los DataFrames de forma vertical
review_df = pd.concat(dataframes_list, ignore_index=True)

In [14]:
review_df.to_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-Nevada/review-Nevada/final/review_las_vegas.csv", index=False)

In [15]:
review_df

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.064355e+20,A Hard Worker,2021-02-18 16:40:51.812,5,"Very unique place! Clean, pleasant and efficie...",NaN,NaN,0x80c8c377584fbfcf:0x73336cb8a6e11a6d
1,1.175568e+20,Greg Evans,2020-02-15 00:22:45.364,5,We had a gr8 time meeting all the We Grow Wome...,NaN,NaN,0x80c8c377584fbfcf:0x73336cb8a6e11a6d
2,1.052251e+20,Trina p,2018-08-29 15:46:28.137,4,Very unique place with 5 different themed rooms.,NaN,NaN,0x80c8c377584fbfcf:0x73336cb8a6e11a6d
3,1.156929e+20,Julie Weskamp,2018-08-22 00:04:45.556,5,"Super cute, unique. Off the strip fun.",NaN,NaN,0x80c8c377584fbfcf:0x73336cb8a6e11a6d
4,1.035557e+20,the chef garza,2020-02-14 03:59:35.128,5,Best ever!!!,NaN,NaN,0x80c8c377584fbfcf:0x73336cb8a6e11a6d
...,...,...,...,...,...,...,...,...
219,1.066372e+20,Amanda N.,2019-06-12 15:06:02.058,4,NaN,NaN,NaN,0x80c8c394e5aad12d:0x6743281ce68171e8
220,1.045349e+20,Jeremy Sean Vasquez (Sean),2020-01-06 02:27:29.589,5,NaN,NaN,NaN,0x80c8c394e5aad12d:0x6743281ce68171e8
221,1.125131e+20,Ryan Yeager,2020-01-15 12:51:39.739,4,NaN,NaN,NaN,0x80c8c394e5aad12d:0x6743281ce68171e8
222,1.115794e+20,Bryan Smith,2020-03-01 01:42:18.680,5,NaN,NaN,NaN,0x80c8c394e5aad12d:0x6743281ce68171e8
223,1.122620e+20,Jeremy Sean Vasquez (Sean),2020-11-20 20:54:05.808,5,NaN,NaN,NaN,0x80c8c394e5aad12d:0x6743281ce68171e8