In [22]:
import pandas as pd
import numpy as np

In [23]:
df1= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 1.csv")
df2= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 2.csv")
df3= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 3.csv")
df4= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 4.csv")
df5= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 5.csv")
df6= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 6.csv")
df7= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 7.csv")
df8= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 8.csv")
df9= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 9.csv")
df10= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 10.csv")
df11= pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/horarios 11.csv")

In [24]:
# Crea una lista con los DataFrames que deseas concatenar
dataframes_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

# Concatena los DataFrames de forma vertical
horario_df = pd.concat(dataframes_list, ignore_index=True)

In [25]:
horario_df

,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,gmap_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x809a55833fbe05ad:0xee6507787fb6a26c
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dc97fd8935dd97:0x80860aef765fe4b4
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89d486fb46b35e0f:0xf89fc350fa1c93f0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dc53af65a602b5:0x10190ffe79346777
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89deba26c3815eb7:0x2c206dc2bb7928d9
...,...,...,...,...,...,...,...,...
839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x80c2c7a04402a01b:0xa6aeb5dba211a306
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x8091425ee20ea651:0xd0a3b52d5a89e8f
841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x80db1bc6a0a6cd97:0xe61552fcf44b6957
842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dcc7767cf10d83:0xbebc20502e84a916

In [16]:
horario_df.drop_duplicates(subset='gmap_id', inplace=True, ignore_index=True)

In [19]:
data_merge = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/metadata/metadata.csv")

In [20]:
# Filtra los valores únicos de la columna 'gmap_id' en el DataFrame `metadata`
gmap_ids_metadata = data_merge['gmap_id'].unique()

# Utiliza el método `isin()` para filtrar las filas en el DataFrame `df1`
# que tienen los valores de 'gmap_id' presentes en `gmap_ids_metadata`
df_horarios = horario_df[horario_df['gmap_id'].isin(gmap_ids_metadata)]

In [21]:
horario_df

,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,gmap_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x809a55833fbe05ad:0xee6507787fb6a26c
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dc97fd8935dd97:0x80860aef765fe4b4
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89d486fb46b35e0f:0xf89fc350fa1c93f0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dc53af65a602b5:0x10190ffe79346777
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89deba26c3815eb7:0x2c206dc2bb7928d9
...,...,...,...,...,...,...,...,...
833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x80c2c7a04402a01b:0xa6aeb5dba211a306
834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x8091425ee20ea651:0xd0a3b52d5a89e8f
835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x80db1bc6a0a6cd97:0xe61552fcf44b6957
836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0x89dcc7767cf10d83:0xbebc20502e84a916